* {
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    justify-content: space-around;
    font-family: Arial;
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-color: #191A19;
}
.header-link{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Arial;
    color: #E5E7EB;
    font-size: 18px; 
    font-weight: lighter;
}
.wallpaper-one {
    background-color: #191A19;
    height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 80px;
}
.front-texts-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 480px;
    flex:  0 1 auto;
}
.main-text {
    font-family: Arial;
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.secondary-text {
    font-family: Arial;
    color: #E5E7EB;
    font-size: 18px;
}
.sign-up {
    background-color: #3D0000;
    border-radius: 8px;
    width: 90px;
    padding: 7px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
}
.main-div .prophet {
    width: 30%;
    border-radius: 40px;
    flex: 1 0 auto;
}
.information-header-text {
    font-family: Arial;
    font-weight: bolder;
    font-size: 48px;
    color: #EEEEEE;
    text-align: center;
}
.second-page-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 115px;
    background-color: #191A19;
}
.nanosuit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #000000;
    border-radius: 80px;
    padding: 50px;
}
.placeholder {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.box {
    border: 2px solid #3D0000;
    border-radius: 20px;
    background-color: #000000;
}
.img-prophet {
    width: 200px;
}
.wallpaper-three {
    background-color: #EEEEEE;
}
.third-page-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 135px;
    background-color: #000000;
}
.qoute-text {
    font-family: Arial;
    color: #EEEEEE;
    font-size: 36px;
    font-style: italic;
}
.author-prophet {
    font-family: Arial;
    font-size: 18px;
    color: #1F2937;
    font-weight: bolder;
    text-align: right;
    color: #950101;
}
.fourth-page-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
    background-color: #191A19;
}
.card {
    background-color: #000000;
    border-radius: 8px;
    width: 800px;
    padding: 40px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.primary-text {
    font-family: Arial;
    font-weight: bolder;
    font-size: 28px;
    color: #F9FAF8;
}
.subtext {
    font-family: Arial;
    color: #E5E7EB;
    font-size: 18px;
}
.secondary-sign-up {
    border-radius: 8px;
    width: 90px;
    padding: 7px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3D0000;
}
.footer {
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-size: 15px;
    color:#F9FAF8;
    padding-top: 45px;
    padding-bottom: 45px;
    align-items: center;
    background-color: #191A19;
}    